@import "_mixins";

body {
  margin: 0 140px 0 140px;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  .left,
  .right,
  .center {
    width: 30%;
  }
  .left {
    display: flex;
    justify-content: flex-start;
    span {
      margin-right: 45px;
    }
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    span {
      margin-left: 45px;
    }
  }
}

main {
  height: 100vh;
  ul {
    li:first-child {
      @include item(#fbf7f6);
    }
    li:nth-child(2) {
      @include item(#f3ede8);
    }
  }
}
