body {
  width: 100%;
  height: 100vh;
  background-color: #af7832;
}

.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  column-gap: 0.2rem;
  row-gap: 0.2rem;
  div {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .picture {
    grid-column: 2 / span 1;
    grid-row: 2 / span 5;
  }
}
