* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 3rem;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 7rem;
  background-color: white;
  box-shadow: 0 0.3px 10px 4px rgba(0, 0, 0, 0.4);
  .header__col {
    width: 33%;
    display: flex;
  }
  .header__col:first-child {
    span {
      margin-right: 2.2rem;
    }
  }
  .header__col:nth-child(2) {
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 600;
  }
  .header__col:last-child {
    justify-content: flex-end;
    font-size: 1.4rem;
  }
}

main {
  margin-top: 3rem;
  width: 100%;
}

.slideshow {
  .slideshow__row {
    width: 100%;
    height: 100vh;
    display: flex;
    img,
    div {
      width: 50%;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 6rem;
      .paragraph,
      .info {
        text-align: center;
      }
      .paragraph {
        font-size: 2.7rem;
        font-weight: 600;
        line-height: 3.3rem;
        margin-bottom: 2rem;
      }
      .info {
        font-size: 0.8rem;
        .emphasized {
          text-decoration: underline;
          color: #ff7540;
        }
      }
    }
  }
}
